<!-- views/home.handlebars -->
{{#if user}}

  <br><br><br><br>
  <div class="container">
    <div id="sign-in-card" class="card-panel showing deep-purple">

      <p style="font-size: 22px" class="center deep-purple-text text-accent-1">{{user.username}}, Please click below to begin your download.</p>
    
      <br>

      <p class="center">
        <span id="dwnldBtn" class="btn white deep-purple-text">Download<i class="material-icons right">send        
        </i></span>
      </p>
    </div>  
  </div>
 

{{else}}
  <br><br><br><br>

  <div class="container">
    <div id="sign-in-card" class="card-panel showing deep-purple">

      <p style="font-size: 22px" class="center deep-purple-text text-accent-1">Welcome to Skelly! The MVC folder stucture automater</p>
      
      <br>

      <p class="center">
        <a href="/signin"><button type="button" class="btn white deep-purple-text">Get Started<i class="material-icons right">send        
        </i></button></a>
      </p>
    </div>  
  </div>

{{/if}}