<br>

    <div class="container">


        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div id="signup-login" class="collapsible-header active deep-purple"></div>
                <div class="collapsible-body white">
                    <p id="signin-header" class="deep-purple-text center">Sign in</p>

                    <p>We're using passport.js to demonstrate user authentication. Please sign-in with your Local, Twitter, Google, or Facebook account to view your profile.</p>
                    
                    <div id="local" class="center">
                        <a id="login-btn" href="#local-sign-in" type="button" class="btn deep-purple white-text">Log in</a>
                        <a id="signin-btn" href="#local-reg" type="button" class="btn deep-purple white-text">Sign up</a>
                    </div>           
                </div>
            </li>
            <li>
                <div class="collapsible-header deep-purple deep-purple-text text-accent-1">Log in</div>
                <div class="collapsible-body white">
                    <form id="local-sign-in" action="/login" method="post">
                        <div>
                            <p></p>
                            <label>Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div class="center">
                            <button type="submit" class="btn deep-purple white-text" value="Log In"/>log in</button>
                        </div>
                    </form>            
                </div>
            </li>
            <li>
                <div class="collapsible-header deep-purple deep-purple-text text-accent-1">Sign up</div>
                <div class="collapsible-body white">
                    <form id="local-reg" action="/signup" method="post">
                        <div>
                            <p></p>
                            <label>New Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <div>
                            <label>New Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div class="center">
                            <input type="submit" class="btn deep-purple white-text" value="Register"/>  
                        </div>
                    </form>     
                </div>
            </li>
        </ul>









        

        

        

        
        <br>   
    </div>
    

</div>




